vendor(prop, args...)
  -o-{prop} args
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

opacity(n)
  vendor('opacity', n)
  -ms-filter unquote('"progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')"')
  filter unquote('alpha(opacity=' + round(n * 100) + ')')

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

no-select()
  user-select none
  -moz-user-select none
  -khtml-user-select none
  -webkit-user-select none
  -o-user-select none

transform(args...)
  transform args
  -moz-transform args
  -webkit-transform args
  -o-transform args
  -khtml-transform args

animation(args...)
  vendor('animation', args)

transition(args...)
  transition args
  -moz-transition args
  -webkit-transition args
  -o-transition args

placeholder()
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
	margin 0
	padding 0
	border 0
	font-size 100%
	font inherit
	vertical-align baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
	display block

body
	line-height 1

ol, ul
	list-style none

blockquote, q
	quotes none

blockquote:before, blockquote:after,
q:before, q:after
	content ''
	content none

table
	border-collapse collapse
	border-spacing 0

*
  box-sizing border-box
  outline none

img
  max-width 100%
  height auto
